@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$dark: #180830;
$purple: #6f42c1;
$cyan: #32fbe2;
$teal: #3f81a2;
$green: #3cf281;
$yellow: #ffc107;
$red: #e44c55;
:root {
  font-family: 'Lato', sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 150px;
  height: 150px;
  font-size: 2rem;
}

.icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: .5fr .5fr 5fr;
}

.logo-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: $dark;
  color: $cyan;
  cursor: default;
}

.logo::before {
  font: var(--fa-font-solid);
  content: "\f61f";
}
.header-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: $purple;
  color: #fff;
  display: flex;
  border-bottom: 1px solid seashell;
  box-sizing: border-box;
  display: flex;
}

.today-button {
  background: $purple;
  height: 100%;
  border-bottom: none;
  cursor: pointer;
  flex: 1;
  &:hover {
    background: #ea39b8;
  }
}

.today-button::before {
    font: var(--fa-font-solid);
  content: "\f783";
}

.all-tasks {
  background:$purple;
  height: 100%;
  border-bottom: none;
  border-right: 2px solid seashell;
  cursor: pointer;
  flex: 1;
}
.all-tasks::before {
    font: var(--fa-font-solid);
  content: "\f0ae";
}

.all-projects {
  background: $purple;
  height: 100%;
  border-bottom: none;
  cursor: pointer;
  flex: 1;
}

.all-projects::before {
    font: var(--fa-font-regular);
    content: "\f328";
}

.sidebar-container {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 10fr;
  background: $purple;
  color: #DCDCDC;
  border: 1px solid seashell;
  box-sizing: border-box;
}

.sidebar-top {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-bottom {
  grid-row: 2 / 4;
}

.projectsSidebarButton {
  color: seashell;
  background: $purple;
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  &:hover {
    background: $dark;
  }

  &:focus {
    background: $dark;
  }
}
.new-project {
  border: none;
  background: #DCDCDC;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2.5rem;
}
.new-project::before {
  font: var(--fa-font-solid);
  content: "\f055";
}


.main-container {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background: $dark;
  color: seashell;
  box-sizing: border-box;
}
.main-container-top {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  background: $dark;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  cursor: default;
}

.main-container-top-text-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 4rem;
  color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
}


.new-task-btn-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-task {
  width: 100%;
  height: 100%;
  background: $cyan;
  border-top: none;
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
}
.new-task::before {
    font: var(--fa-font-solid);
    content: "\f055";
  }

  .hide {
    display: none;
  }



#task-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    visibility: hidden;
  }
#edit-task-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    visibility: hidden;
  }
  
  #task-modal-container.show {
    visibility: visible;
    pointer-events: auto;
  }
  #edit-task-modal-container.show {
    visibility: visible;
    pointer-events: auto;
  }
  
  .task-modal {
    color: seashell;
    background-color: $purple;
    width: 600px;
    height: 600px;
    max-width: 100%;
    text-align: center;
    border: 1px solid $cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: .5rem;
  
  }

  #task-form {
    text-align: left;
  }

  label {
    font-size: 2rem;
  }

  input {
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
    
  }
  textarea {
    font-size: 2rem;
    max-height: 200px;
    width: 15rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
  }
  .description-container {
    display: flex;
    flex-direction: column;
  }
  .dueDate-container {
    display: flex;
    flex-direction: column;
  }
  .notes-container {
    display: flex;
    flex-direction: column;
  }
  
.project-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
  }
.edit-project-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
  }
  
  .project-modal-container.show {
    opacity: 1;
    pointer-events: auto;
  }
  .edit-project-modal-container.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .project-modal {
    color: seashell;
    background-color: $purple;
    width: 600px;
    height: 600px;
    max-width: 100%;
    text-align: center;
    border: 1px solid #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #project-form {
    text-align: left;
  }

  .project-title-container {
    display: flex;
    flex-direction: column;
  }

  #submit-project {
    width: 100px;
    height: 100px;
    font-size: 1rem;
    background: #DCDCDC;
    border-radius: 10px;
    cursor: pointer;
  }

  #edit-submit-project {
    width: 100px;
    height: 100px;
    font-size: 1rem;
    background: #DCDCDC;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #submit-task {
    width: 100px;
    height: 100px;
    font-size: 1rem;
    background: $cyan;
    border-radius: 10px;
    cursor: pointer;
  }
  #edit-submit-task {
    width: 100px;
    height: 100px;
    font-size: 1rem;
    background: $cyan;
    border-radius: 10px;
    cursor: pointer;
  }

  .projectsDisplay {
    border: 1px solid #DCDCDC;
    border-left: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    padding-left: 1rem;
  }

  .projectsText {
    flex:1;
  }

  .projectsText::after {
    padding: .5rem;
    font: var(--fa-font-solid);
    content: "\f304";
  }
  .tasksDisplay {
    border-top: 1px solid seashell;
    border-bottom: 1px solid seashell;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
    height:260px;
    cursor: pointer;
    padding-left: 1 rem;
    box-sizing: border-box;
    color: $cyan;

  }
  .tasksCheckBox {
    width: 50px;
    height: 50px;
    border: 3px solid $cyan;
    border-radius: 50%;
    margin-left: 1rem;
  }

  .tasksText {
    flex:1;
  }

  .tasksText::after {
    padding: .5rem;
    font: var(--fa-font-solid);
    content: "\f304";
  }

  .tasksDeleteButton {
    flex: .25;
    align-self: flex-end;
    background: seashell;
  }
  .projectsText {
    flex:1;
  }

  .projectsText::after {
    padding: .5rem;
    font: var(--fa-font-solid);
    content: "\f304";
  }

  .projectsDeleteButton {
    flex: .25;
    align-self: flex-end;
    background: seashell;
  }


  .dropdownContainer {
    display: flex;
    flex-direction: column;
    flex:.25;
  }

  .dropdown {
    position: relative;
  }

  .dropdownButton {
    width: 100%;
    height: 50px;
    background: seashell;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    gap: .5rem;
    margin-top: .5rem;
  }

  .dropdownContent a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    background: #f1f1f1;
    text-align: center;
  }

  .showDropdown {
    display: flex;
    flex-direction: column;
  }